.new-plant-form {
  cursor: pointer;
  background-color: #e7e8e3;
  border-radius: 4px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: center;
  color: rgb(80, 114, 80);
  
}

.new-plant-form h1 {
  font-size: 24px;
}

.new-plant-form .form-field {
  margin-bottom: 1em;
}
