.signup-form {
  padding: 2em;
  border: 2px solid #C3E8BD;
  background-color: #C3E8BD;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.form-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
.password-fields {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 0;
}
input {
  padding: 0.5em;
}
label:hover, input[type="submit"]:hover {
  cursor: pointer;
}
.error {
  color: rgb(200, 101, 101);
}