.signup-form {
  padding: 2em;
  border: 2px solid #C3E8BD;
  background-color: #C3E8BD;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.signup-card {
  background-color: #e7e8e3;
  border-radius: 4px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 2em auto;
}
.form-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
.password-fields {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 0;
}
input {
  padding: 0.5em;
}
label:hover, input[type="submit"]:hover {
  cursor: pointer;
}
.error {
  color: rgb(200, 101, 101);
}