#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("background-plants.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  font-weight: 500;
  color: #5B7553;
  text-decoration: inherit;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.navigation {
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0; 
}
.welcome {
  margin-left: 2em;
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold;
}
.logout {
  margin-right: 2em;
  margin-top: 1em;
  font-size: 15px;
  color: white;
}
